.pageContainer {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageWrapper {
    width: 60%;
    height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    height: auto;
    width: 100%;
}

.red {
    color: red;
}